{% extends 'blog/base.html' %}
  {% block content %}
      {% for post in posts %}
        <!-- Blog Post -->
        <div class="card mb-4">
          <img class="card-img-top" src="{{ post.image.url }}"  width="750" height="300" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text">{{ post.opisanie|linebreaksbr }}</p>
            <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-primary">Подробнее &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Опубликовано: {{ post.published_date }}
          </div>
        </div>
      {% endfor %}
  {% endblock %}
